<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>Login to Rangiffler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', path='images/favicon.ico') }}"/>
    <link href="{{ url_for('static', path='styles/styles.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>
<main class="content">
    <div class="content__wrapper">
        <div class="main__hero"></div>
        <section class="main__form">
            <h1 class="header">
                <span class="header__accent">R</span>angiffler
            </h1>
            <img class="header__logo" src="{{ url_for('static', path='images/deer-logo.svg') }}" width="90" alt="Rangiffler logo"/>
            <form class="form" action="/login" method="post">
                {% if error %}
                <div class="form__error">{{ error }}</div>
                {% endif %}
                {% if logout %}
                <div class="text-warning">You have been logged out.</div>
                {% endif %}
                
                {% if oauth2_params %}
                <input type="hidden" name="response_type" value="{{ oauth2_params.response_type }}">
                <input type="hidden" name="client_id" value="{{ oauth2_params.client_id }}">
                <input type="hidden" name="scope" value="{{ oauth2_params.scope }}">
                <input type="hidden" name="redirect_uri" value="{{ oauth2_params.redirect_uri }}">
                {% if oauth2_params.code_challenge %}
                <input type="hidden" name="code_challenge" value="{{ oauth2_params.code_challenge }}">
                {% endif %}
                {% if oauth2_params.code_challenge_method %}
                <input type="hidden" name="code_challenge_method" value="{{ oauth2_params.code_challenge_method }}">
                {% endif %}
                {% endif %}

                <label class="form__label">Username
                    <input class="form__input"
                           type="text"
                           name="username"
                           placeholder="Type your username"
                           autocomplete="false"
                           required/>
                </label>
                <label class="form__label">Password
                    <input class="form__input"
                           type="password"
                           name="password"
                           placeholder="Type your password"
                           autocomplete="false"
                           required/>
                    <button type="button" class="form__password-button"></button>
                </label>
                <button class="form__submit" type="submit">
                    Sign In
                </button>
                <p class="form__paragraph">Have no account? <a class="form__link" href="/register">Sign up!</a></p>
            </form>
        </section>
    </div>
</main>
<script>
    const passwordButton = document.querySelector(".form__password-button");
    const passwordInput = document.querySelector("[name=password]");

    const togglePasswordInputType = (inputType) => {
        return inputType === "password" ? "text" : "password";
    }

    const togglePasswordButtonClass = () => {
        passwordButton.classList.toggle("form__password-button_active");
    }

    const handlePasswordButtonClick = () => {
        passwordInput.setAttribute("type", togglePasswordInputType(passwordInput.getAttribute("type")));
        togglePasswordButtonClass();
    }

    passwordButton.addEventListener("click", handlePasswordButtonClick);
</script>
</body>
</html>
